@model ForecastIO.Alert

<div>
    <h4>Alert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expires)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
