@model ForecastIO.DailyForecast

<table class="table">
    <tr>
        <th>
            Summary
        </th>
        <th>
            Precipitation
        </th>
        <th>
            Precip Intensity Avg
        </th>
        <th>
            Precip Intensity Max
        </th>
        <th>
            Precip Probability
        </th>
        <th>
            Precip Type
        </th>
        <th>
            Wind Speed
        </th>
        <th>
            Wind Bearing
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.precipAccumulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.precipIntensity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.precipIntensityMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.precipProbability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.precipType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.windSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.windBearing)
        </td>
    </tr>
    <tr style="border-top: solid;">
        <th>
            Temp Min
        </th>
        <th>
            Temp Max
        </th>
        <th>
            Apparent Temp Min
        </th>
        <th>
            Apparent Temp Max
        </th>

        <th>
            Cloud Cover
        </th>
        <th>
            Humidity
        </th>
        <th>
            Visibility
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.temperatureMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.temperatureMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.apparentTemperatureMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.apparentTemperatureMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.cloudCover)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.humidity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.visibility)
        </td>
    </tr>


</table>
